<%= session[:testing] %>
<div class="container">

  <div class="masthead">
    <h3 class="muted">Import Contacts</h3>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row-fluid">
    <h2>Contact Lists</h2>

    <form class="form-horizontal" action="<%= invite_friends_path %>" method="post">
      <table class="span 8 table table-striped">
        <thead>
        <tr>
          <th><input type="checkbox" id="selectall"/></th>
          <th>Name</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>

        <%= @contacts.to_json %>

        <% if !@contacts.nil? %>
            <% @contacts.each do |c| %>
                <% if c[:name].present? %>
                    <% name = c[:name] %>
                <% else %>
                    <% name = c[:email].split("@")[0].capitalize %>
                <% end %>
                <%= c[:email_hashes] %> <br />
                <%= Digest::SHA256.hexdigest(c["email_hashes]"]).to_json %><br />
                <tr>
                  <td><input type="checkbox" name="email[<%= name %>]" class="case" value="<%= c[:email] %>"></td>
                  <td>
                     <%= name %>
                  </td>
                  <td><%=  c[:email] %></td>
                </tr>
            <% end %>
        <% end %>

        <tr>
          <td colspan="3">
            <button type="submit" class="btn">Invite Friends</button>
          </td>
        </tr>

        </tbody>
      </table>
    </form>

  </div>

  <hr>

  <div class="footer">
    <p>&copy; Company 2013</p>
  </div>

</div>

<script language="javascript">
    $(function () {

        $("#selectall").click(function () {
            $('.case').attr('checked', this.checked);
        });

        $(".case").click(function () {

            if ($(".case").length == $(".case:checked").length) {
                $("#selectall").attr("checked", "checked");
            } else {
                $("#selectall").removeAttr("checked");
            }

        });
    });
</script>